<form asp-controller="Product" asp-action="Search">
	<select class="input-select">

	</select>
	<input type="search" class="input" placeholder="Tìm kiếm sản phẩm..." name="query">
	<button class="search-btn"><i class="fa fa-search"></i></button>
</form>