@{
    ViewData["Title"] = "Từ Chối Truy Cập";
}
<div style="height: 30px;"></div>
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <i class="fas fa-ban text-danger display-1" style="font-size: 100px;"></i>
        <h2 class="text-danger mt-3">Truy cập bị từ chối</h2>
        <p class="lead">Bạn không có quyền truy cập trang này.</p>
        <a href="/" class="btn btn-primary mt-3">Quay về Trang chủ</a>
    </div>
</div>
<div style="height: 30px;"></div>

