@{
    ViewData["Title"] = "Đăng Ký";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@if (ViewBag.Error != null)
{
    <div style="color: red; text-align: center; margin-bottom: 3px;">
        @ViewBag.Error
    </div>
}

<form action="/Account/Register" method="post">
    <div class="form-control w3layouts">
        <input type="text" id="firstname" name="fullName" placeholder="Họ và Tên" title="Please enter your First Name" required="">
    </div>

    <div class="form-control w3layouts">
        <input type="email" id="email" name="email" placeholder="Email" title="Please enter a valid email" required="">
    </div>

    <div class="form-control agileinfo" style="position: relative;">
        <input type="password" class="lock" name="password" placeholder="Mật Khẩu" id="password" required="">
        <i id="togglePassword" class="fa fa-eye" style="position: absolute; right: 110px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size: 20px; color: #888"></i>
    </div>

    <div class="form-control agileinfo">
        <input type="text" class="lock" name="phone" placeholder="Số Điện Thoại" id="password" required="">
    </div>

    <div class="form-control agileinfo">
        <input type="text" class="lock" name="address" placeholder="Địa Chỉ" id="password" required="">
    </div>

    <input type="submit" class="register" value="Đăng Ký">
    <p class="wthree w3l">Bạn đã có tài khoản? <a asp-action="Login">Đăng nhập</a></p>
</form>

